---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import H1 from "../components/H1.astro";
---

<Layout>
  <section
    aria-labelledby="contact-heading"
    class="px-4 py-10 max-w-xl mx-auto text-center"
  >
    <H1 text="Contact me using the form below" />
    <Form />
  </section>
</Layout>
