---
import Layout from "../layouts/Layout.astro";
import H1 from "../components/H1.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout>
  <div class="container text-center mb-8">
    <H1 text="Projects I Have Worked On" />
  </div>
  <ProjectCard />
</Layout>
