<footer
  class="footer bg-slate-800 text-white py-8 px-4 flex justify-around items-center text-center flex-col md:flex-row"
>
  <div class="footer-content">
    <p>
      &copy; {new Date().getFullYear()} Abdulhamid Abdullahi Sulaiman. All rights reserved
    </p>
    <p>
      Built with <a href="https://astro.build" target="_blank" class="text-blue-400">Astro</a> and
      <a href="https://tailwindcss.com" target="_blank" class="text-blue-400">Tailwind CSS</a>.
    </p>
  </div>
  <div class="social-links mt-4">
    <a href="#" class="text-blue-400 hover:underline">LinkedIn</a>
    <a href="https://github.com/Yaseeru" class="text-blue-400 hover:underline ml-4">GitHub</a>
    <a href="#" class="text-blue-400 hover:underline ml-4">Twitter</a>
    <a href="" class="text-blue-400 hover:underline ml-4">Email</a>
  </div>
</footer>
