<form
  action="https://formspree.io/f/mldbqplv"
  method="POST"
  class="max-w-80 sm:max-w-md mx-auto p-4 m-4 bg-slate-800 shadow-2xl text-white text-left rounded-3xl"
>
  <div class="m-4 p-4 flex flex-col">
    <label for="name">Full Name</label>
    <input
      type="text"
      id="name"
      placeholder="Full Name"
      class="bg-white p-2 text-black rounded-xl"
    />
  </div>

  <div class="m-4 p-4 flex flex-col">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="Email"
      class="bg-white p-2 text-black rounded-xl"
    />
  </div>

  <div class="m-4 p-4 flex flex-col">
    <label for="message"></label>
    <textarea
      name="message"
      id="message"
      placeholder="Message"
      rows="4"
      cols="50"
      class="bg-white p-2 text-black rounded-xl"></textarea>
  </div>

  <div class="m-4 p-4">
    <button
      type="submit"
      class="bg-blue-400 px-3 py-2 rounded-xl font-bold hover:bg-blue-950 transition ease-in-out duration-300"
    >
      Submit
    </button>
  </div>
</form>
