<nav
  class="flex justify-around items-center p-4 bg-slate-800 shadow-md text-white"
>
  <ul class="flex gap-10">
    <li class="md:text-2xl hover:text-cyan-600 transition">
      <a href="/">Home</a>
    </li>
    <li class="md:text-2xl hover:text-cyan-600 transition">
      <a href="/projects">My Work</a>
    </li>
    <li class="md:text-2xl hover:text-cyan-600 transition">
      <a href="/contact">Contact Me</a>
    </li>
  </ul>
</nav>
