---
import "./src/styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/portfolio_18526737.svg" />
    <meta name="generator" content="Astro" />
    <meta
      name="description"
      content="Abdulhamid Abdullahi Sulaiman's developer portfolio showcasing front-end and full-stack projects."
    />

    <title>Abulhamid Abdullahi Sulaiman</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
